[Unit]
Description=Start the longge interface
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/eitn30
ExecStart=/usr/bin/make run-base

[Install]
WantedBy=multi-user.target